body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.response-body {
  height: 300px;
  overflow-x: scroll;
}

img.auth-flow-img {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 1000;
  height: 50px;
  background: white;
  border-bottom: 1px solid #ccc;
}
